body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pictures/map_5.png");
    background-size:cover;  
    background-repeat:no-repeat;
    background-color: rgb(17, 17, 17);
    background-position: center;
    height: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}
.logo{
    width:125px;
    height: 85px;
    position: absolute;
    top:0px;
    left:20px;
}
nav{
    background-color: rgba(36, 16, 0, 0.801);
    width: 95%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left:100px;
    
}
nav div>a{
    color:rgb(250, 156, 48);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav div>a>i{
    font-size: 2.5em;

}
main{
    height:80vh;
    width:100vw;
    display: flex;
    justify-content:center;

}
.middle{
    width:80%;
    height: 100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.gallery{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery>div:nth-child(1){
    width: 25%;
    height: 80%;
    box-shadow: 8px 8px 12px black;
    border: 2px black solid;
    background-size: cover;
    background-position:center;
    
    transition: width 0.4s ease;
    transition: height 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: border 0.4s ease;
}
.gallery>div:nth-child(1):hover{
    width: 26%;
    height:82%;
    box-shadow: 10px 10px 14px black;
    border: 4px black solid;
    
    transition: width 0.4s ease;
    transition: height 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: border 0.4s ease;
}
.gallery>div:nth-child(2){
    width: 50%;
    height: 100%;
    box-shadow: 10px 10px 12px black;
    border: 2px black solid;
    background-size: cover;
    background-position:center;
    
    transition: width 0.4s ease;
    transition: height 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: border 0.4s ease;
}
.gallery>div:nth-child(2):hover{
    width:52%;
    height:102%;
    box-shadow: 12px 12px 16px black;
    border: 4px black solid;
    
    transition: width 0.4s ease;
    transition: height 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: border 0.4s ease;
}
.gallery>div:nth-child(3){
    width: 26%;
    height: 82%;
    box-shadow: 8px 8px 12px black;
    border: 2px black solid;
    background-size: cover;
    background-position:center;
    
    transition: width 0.4s ease;
    transition: height 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: border 0.4s ease;
}
.gallery>div:nth-child(3):hover{
    width: 26%;
    height:82%;
    box-shadow: 10px 10px 14px black;
    border: 4px black solid;
    
    transition: width 0.4s ease;
    transition: height 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: border 0.4s ease;
}
.image0{
    background-image: url(pictures/buildingbarricadeshowcase.png);
}
.image1{
    background-image: url(pictures/monktalkintoblacksmith32.png);
}
.image2{
    background-image: url(pictures/ctmcombatshowcase.png);
}
.image3{
    background-image: url(pictures/inventoryshowcase.png);
}
.image4{
    background-image: url(pictures/monkskinshowcase.png);
}
.textbox{
    display:flex;
    width: 40%;
    height: 60%;
    background-color: rgba(59, 12, 12, 0.938);
    border: black solid 5px;
    border-radius: 3px;
}
.textbox>div{
    padding:20px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#title{
    font-size: 2.5em;
    color:rgb(250, 156, 48);
    padding-bottom: 10px;
}
#description{
    padding: 10px;
    font-size:1.2em;
    color:rgb(255, 87, 247);
    border-top: rgb(250, 156, 48) solid 3px;
}
#readmore{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height:40%;
}
#inside a{
    color:rgb(250, 156, 48);
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-align-last: center;
    background-color: rgb(124, 93, 58);
    height: 30px;
    width:240px;
    border-radius: 50px;
    padding: 10px;
    border: black solid 5px;
}
.grid2x2{
    border: black 2px solid;
    border-radius: 10px;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    background-color: rgba(54, 10, 10, 0.938);
    justify-content: space-evenly;
    color:rgb(250, 156, 48);
}
.flex1{
    display:flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items:center;
}
.flex1 > div{
    padding:10px 40px;
    width:45%;
}
.flex1>div{
    font-weight: 500;
}
.flex1>div>div{
    text-align-last: center;
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: rgb(250, 156, 48) 2px solid;
    width: 100%;
    margin-bottom: 10px;
}
.showcasepic{
    border-radius: 30px;
    border:black 4px solid;
    padding-top: 0px;
    height: 100%;
    max-height: 330px;
    background-size: cover;
    background-position: center;
}
.pic1{
    background-image: url(pictures/gwsquireharipin.png);
    margin-right: 30px;
}
.pic2{
    background-image: url(pictures/gwogre.png);
    margin-left:30px;
}
.pic3{
    background-image: url(pictures/polearmcomparison.png);
    margin-right: 30px;
}
.pic4{
    background-image: url(pictures/petcomparison.png);
    margin-left: 30px;
}
.pic5{
    background-image: url(pictures/skinshowcase.png);
    margin-right: 30px;
}
.pic6{
    background-image: url(pictures/flairshowcase.png);
    margin-left:30px
}
.pic7{
    background-image: url(pictures/earthshatterbuild.png);
    margin-right:30px;
}
.pic8{
    background-image: url(pictures/metabuild.png);
    margin-left:30px;
}
.small{
    height:70vh;
    width:80vw;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.801);
    display:flex;
    justify-content: center;
    align-items: center;
    border:black 6px solid;
    border-radius: 20px;
}
.small>a{
    color:rgb(250, 156, 48);
    text-decoration: none;
    font-weight: 700;
    font-size: 2.5em;
}
footer{
    position:fixed;
    bottom:0px;
    width: 100%;
    left:0px;
    display:flex;
    height: 40px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.801);
    align-items: center;
}
footer>div{
    padding: 0px 20px;
    color:white;
}
footer a{
    color:rgb(250, 156, 48);
    text-decoration: none;
}
@media (min-height:700px) and (max-width:1099px){
    body{
        width: 100vw;
        overflow-y: auto;
    }
    main{
        height: 100vh;
    }
    .logo{
        left:20px;
        width:100px;
        top:10px;
        height: 68px;
    }
    nav{
        padding-left: 60px;
    }
    .middle{
        flex-direction: column;
        height: 110%;
    }
    .gallery{
        width:100%;
        height: 55%;
    }
    .textbox{
        width:90%;
        height: 35%;
    }
}
@media(max-height:700px) and (min-width:1100px){
    body{
        overflow-y: auto;
    }
    main{
        height:560px;
    }
    .gallery{
        height: 392px;
    }
    .textbox{
        height:345px;
    }
    #readmore{
        height:30%;
    }
}
@media (max-height:700px) and (max-width:1099px) and (min-height:550px){
    body{
        width: 100vw;
        overflow-y: auto;
    }
    main{
        height: 100vh;
    }
    .logo{
        left:20px;
        width:100px;
        height: 68px;
    }
    nav{
        padding-left: 60px;
    }
    .middle{
        flex-direction: column;
        height: 110%;
    }
    .gallery{
        width:100%;
        height: 55%;
    }
    .textbox{
        width:90%;
        height: 270px;
    }
    #readmore{
        height:40%;
    }
}
@media (max-height:599px) and (max-width:1099px) and (min-width:900px){
    body{
        width: 100vw;
        overflow-y: auto;
    }
    main{
        height: 100vh;
    }
    .logo{
        width:100px;
        height:68px;
        left:10px;
    }
    nav{
        padding-left: 60px;
    }
    .middle{
        flex-direction: column;
        height:593px;
    }
    .gallery{
        width:100%;
        height: 420px;
    }
    #galery0{
        width:32%;
        height:90%;
    }
    #galery1{
        width:32%;
        height:90%;
    }
    #galery2{
        width:32%;
        height:90%;
    }
    .textbox{
        width:90%;
        height: 290px;
    }
    #readmore{
        height:40%;
    }
}
@media (max-width:900px){
    body{
        width: 100vw;
        overflow-y: auto;
    }
    main{
        height: 100vh;
    }
    .logo{
        width:75px;
        height:51px;
        left:10px;
        top:10px;
    }
    nav{
        padding-left: 55px;
        height:70px;
    }
    nav>div>a>i{
        font-size: 1.5em;
    }
    .middle{
        flex-direction: column;
        height:593px;
    }
    .gallery{
        width:100%;
        height: 420px;
    }
    #galery0{
        width:32%;
        height:90%;
    }
    #galery1{
        width:32%;
        height:90%;
    }
    #galery2{
        width:32%;
        height:90%;
    }
    .textbox{
        width:90%;
        height: 290px;
    }
    #readmore{
        height:40%;
    }
}